[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
shap = "*"
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
dash-core-components = "*"
joblib = "*"
matplotlib = "*"
numpy = "*"
plotly = "*"
xgboost = "*"
category-encoders = "*"
sklearn = "*"
scikit-learn = "*"
gunicorn = "*"
dash-html-components = "*"
random = "*"
scipy = "*"
seaborn = "*"
flask = "*"
flask-compress = "*"
dash-renderer = "*"
dash-table = "*"
click = "*"

[requires]
python_version = "3.7"
